<h2>Featured Books</h2>

<div>
  <label for="availability">Show Available Only:</label>
  <input id="availability" type="checkbox" [(ngModel)]="showAvailable" (change)="onAvailabilityChange(showAvailable)" />
</div>

<div>
  <h2>Book List</h2>
  <div>
    <label for="titleFilter">Title:</label>
    <select id="titleFilter" [(ngModel)]="selectedTitle" (change)="filterBooks()">
      <option value="">All</option>
      <option *ngFor="let title of titles" [value]="title">{{ title }}</option>
    </select>
  </div>
  <div>
    <label for="authorFilter">Author:</label>
    <select id="authorFilter" [(ngModel)]="selectedAuthor" (change)="filterBooks()">
      <option value="">All</option>
      <option *ngFor="let author of authors" [value]="author">{{ author }}</option>
    </select>
  </div>
  <table>
    <thead>
      <tr>
        <th (click)="setSortField('title')">Title</th>
        <th (click)="setSortField('author')">Author</th>
        <th>Cover Image</th>
        <th (click)="setSortField('description')">Description</th>
        <th (click)="setSortField('isAvailable')">Availability</th>
        <th (click)="setSortField('averageRating')">Average Rating</th>
        <th>Checkout</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of filteredBooks" (click)="onSelectBook(book)">
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td><img [src]="book.coverImageUrl" alt="{{ book.title }} cover" width="50"></td>
        <td>{{ book.description }}</td>
        <td>{{ book.isAvailable ? 'Available' : 'Not Available' }}</td>
        <td>{{ book.averageRating | number:'1.1-1' }}</td>
        <td>
          <button (click)="checkoutBook(book)" [hidden]="!book.isAvailable">Checkout</button>
          <p [hidden]="book.isAvailable">Not available</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="selectedBook$ | async as selectedBook">
  <app-book-details [book]="selectedBook"></app-book-details>
</div>