<h1>Welcome to the Library!</h1>

<div *ngIf="!currentUser">
  <router-outlet></router-outlet>
</div>

<div *ngIf="currentUser">
  <div>
    <p>Logged in as: {{ currentUser.username }} ({{ currentUser.role }})</p>
  </div>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/checked-out-books">My Checked Out Books</a></li>
      <li><a routerLink="/search-books">Search Books</a></li>
      <li *ngIf="currentUser?.role === 'Librarian'"><a routerLink="/manage-books">Manage Books</a></li>
      <li><button (click)="logout()">Logout</button></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>